*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 100vh;    
    display: grid;
    grid-auto-flow: 1fr;     
    background-color: #091e2a;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
    
    box-sizing: border-box;
}

header .dados-atuais .acertos-parcial{
    position: relative;
    top: 10%;
    left: 0px;
    height: 20px;
    width: 100px;    
    background-color: #bd3038;   
    color: white; 
    text-align: center;
    padding: 5px;
}

header .dados-atuais .pontuacao-parcial{
    position: relative;
    top: 10%;
    left: 0px;
    height: 20px;
    width: 100px;    
    background-color: #d1dc5a;    
    
    text-align: center;
    padding: 5px;
}

header .time-containe{
    position: relative;
    top: 10%;
    left: 0px;
    height: 20px;
    width: 100px;    
    background-color: #2bcac9;    
    text-align: center;
    padding: 5px;
}

main .dados{    
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    color: aliceblue;
    font-size: 22px;
}

main .dados input[type="text"]{
    border: 2px solid #ff4242;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 320px;    
}

main .dados input[type="button"]{
    border-style: none;
    padding: 10px 15px;    
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


/* 
Paleta de cores:
  background: #091e2a

.color1 {color: #091e2a;}
.color2 {color: #0f3d51;}
.color3 {color: #1a687f;}
.color4 {color: #269ab7;}
.color5 {color: #2bcac8;}
*/